<div class="row">
<div class="col-md-12">
<footer>
  <div class="container">
    <p><a href="wisatajabar@gmail.com">Wisata Jawa Barat</a></p>
    <hr></hr>
  </div>
  <div class="row">
  </div>
  
</footer>  
  </div>
</div>
