<div class="panel panel-default panel-popular">
  <div class="panel-heading">
    <h3 class="panel-title">
      Popular Location
    </h3>
  </div>
  <div class="panel-body panel-bd-home-popular">
    <div class="row media">
      <div class="col-md-4 media-img">
        <%= image_tag ("bosscha.jpg"), {:class => "img-responsive"} %>
      </div>
      <div class="col-md-8 media-konten">
        <h4 class="title"><a href="#">Obsevatorium Bosscha</a></h4>
        <h6 class="alamat">Jl. Teropong Bintang, Lembang 40391</h6>
        <h6 class="notelp">+62-22-2785961</h6>
        <h6 class="rating"><span class="glyphicon glyphicon-star"></span></h6>
      </div>
    </div>
    <div class="row media">
      <div class="col-md-12 media-caption">Ab iis aliqua noster elit, commodo in singulis, laborum dolor commodo occaecat ad fore nescius laborum, voluptate te offendit do mandaremus cillum malis est veniam, fugiat sed probant e veniam in incididunt magna in pariatur cohaerescant.</div>
    </div>
  </div>
  
  <div class="panel-body panel-bd-home-popular">
    <div class="row media">
      <div class="col-md-4 media-img">
        <%= image_tag ("rans-studio.jpg"), {:class => "img-responsive"} %>
      </div>
      <div class="col-md-8 media-konten">
        <h4 class="title"><a href="#">Trans Studio Bandung</a></h4>
        <h6 class="alamat">Jl. Gatot Subroto 289, Bandung,40273 Bandung</h6>
        <h6 class="notelp">+62-22-91099999</h6>
        <h6 class="rating"><span class="glyphicon glyphicon-star"></span></h6>
      </div>
    </div>
    <div class="row media">
      <div class="col-md-12 media-caption">Commodo quo amet. Aut nam praetermissum an summis si fabulas o quorum ab fugiat ullamco non fabulas ut consequat tractavissent do vidisse. </div>
    </div>
  </div>
  
    <div class="panel-body panel-bd-home-popular">
    <div class="row media">
      <div class="col-md-4 media-img">
        <%= image_tag ("rans-studio.jpg"), {:class => "img-responsive"} %>
      </div>
      <div class="col-md-8 media-konten">
        <h4 class="title"><a href="#">Trans Studio Bandung</a></h4>
        <h6 class="alamat">Jl. Gatot Subroto 289, Bandung,40273 Bandung</h6>
        <h6 class="notelp">+62-22-91099999</h6>
        <h6 class="rating"><span class="glyphicon glyphicon-star"></span></h6>
      </div>
    </div>
    <div class="row media">
      <div class="col-md-12 media-caption">Commodo quo amet. Aut nam praetermissum an summis si fabulas o quorum ab fugiat ullamco non fabulas ut consequat tractavissent do vidisse. </div>
    </div>
  </div>
  
   <div class="panel-body panel-bd-home-popular">
    <div class="row media">
      <div class="col-md-4 media-img">
        <%= image_tag ("rans-studio.jpg"), {:class => "img-responsive"} %>
      </div>
      <div class="col-md-8 media-konten">
        <h4 class="title"><a href="#">Trans Studio Bandung</a></h4>
        <h6 class="alamat">Jl. Gatot Subroto 289, Bandung,40273 Bandung</h6>
        <h6 class="notelp">+62-22-91099999</h6>
        <h6 class="rating"><span class="glyphicon glyphicon-star"></span></h6>
      </div>
    </div>
    <div class="row media">
      <div class="col-md-12 media-caption">Commodo quo amet. Aut nam praetermissum an summis si fabulas o quorum ab fugiat ullamco non fabulas ut consequat tractavissent do vidisse. </div>
    </div>
  </div>
  
</div>




<!--<a href="../wisata/new" class="btn btn-primary" role="button">Wisata Baru</a>-->
