<div class="panel panel-default panel-berita">
  <div class="panel-heading">
    <h3 class="panel-title">
      Berita & Promo
    </h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>