=form_for(@beritum) do |f| 
  -if @beritum.errors.any?
#error_explanation
  h2 =pluralize(@beritum.errors.count, "error") prohibited this beritum from being saved:
  ul
      -@beritum.errors.full_messages.each do |message| 
    li =message 
       
   
  .field
    =f.label :tgl 
    br
    =f.date_select :tgl 
  .field
    =f.label :judul 
    br
    =f.text_field :judul 
  .field
    =f.label :isi 
    br
    =f.text_area :isi 
  .field
    =f.label :foto 
    br
    =f.text_field :foto 
  .actions
    =f.submit 
   
