<%= render'navbar' %>

<div class="container">
<div class="row">
  -data.sort
  -for index in A..Z
    <div class="col-md-12 panel">
      <div class="panel-body">
    -data.loop
      -if data.title.char[0] == index
        <a href="#">data.title</a>
      </div>
    </div>
  </div>
</div>
<%= render'footer' %>
