<%= render 'static_pages/navbar' %>
  <div class="container container-custom1" style="margin-top:20px;">
    <div class="row">
      <div class="col-md-8"><strong style="font-size:20px;">Urutkan Berdasarkan</strong>
        <select class="selectpicker">
          <option>Rating</option>
          <option>Harga</option>
        </select>
        <hr>
        <div class="col-md-12 media">
          <div class="col-xs-4 media-img">
            <!--            <img src="../../assets/images/bosscha.jpg" class="img-responsive">-->
            <%= image_tag ("bosscha.jpg"), {:class => "img-responsive"} %>
          </div>
          <div class="col-xs-8 media-konten">
            <h2 class="title"><a href="#">Obsevatorium Bosscha</a></h2>
            <h5 class="alamat">Jl. Teropong Bintang, Lembang 40391</h5>
            <h5 class="notelp">+62-22-2785961</h5>
            <h5 class="rating"><span class="glyphicon glyphicon-star"></span></h5>
          </div>
          <div class="col-md-12 media-caption">Cupidatat iis anim quibusdam a admodum nisi ingeniis. E te cohaerescant, ad eram offendit domesticarum. Ab sunt eiusmod, anim officia id firmissimum, fugiat officia an fidelissimae quo proident quem se pariatur reprehenderit, occaecat do vidisse, sed sunt incurreret occaecat aut occaecat aute ea eiusmod domesticarum do ad tamen coniunctione.</div>
        </div>
        <div class="col-md-12 media">
          <div class="col-xs-4 media-img">
            <!--            <img src="../../assets/images/bosscha.jpg" class="img-responsive">-->
            <%= image_tag ("rans-studio.jpg"), {:class => "img-responsive"} %>
          </div>
          <div class="col-xs-8 media-konten">
            <h2 class="title"><a href="#">Trans Studio Bandung</a></h2>
            <h5 class="alamat">Jl. Gatot Subroto 289, Bandung,40273 Bandung</h5>
            <h5 class="notelp">+62-22-91099999</h5>
            <h5 class="rating"><span class="glyphicon glyphicon-star"></span></h5>
          </div>
          <div class="col-md-12 media-caption">Cupidatat iis anim quibusdam a admodum nisi ingeniis. E te cohaerescant, ad eram offendit domesticarum. Ab sunt eiusmod, anim officia id firmissimum, fugiat officia an fidelissimae quo proident quem se pariatur reprehenderit, occaecat do vidisse, sed sunt incurreret occaecat aut occaecat aute ea eiusmod domesticarum do ad tamen coniunctione.</div>
        </div>
      </div>
      <div class="col-md-4 text-center text2"><strong style="font-size:20px;">
        <button type="btn" role="button" class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" aria-haspopup="true"><span class="caret"></span>
        Pilihan Kategori
          </button>
        </strong>
        <br>
        <br>


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default panel-kategori">
            <!--
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
        <a role="button">
          Kategori
        </a>
      </h4>
            </div>
-->
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12  btn-custom-kategori">
                    <button class="btn ">ALAM</button>
                  </div>
                  <div class="col-md-12  btn-custom-kategori">
                    <button class="btn ">BUDAYA</button>
                  </div>
                  <div class="col-md-12  btn-custom-kategori">
                    <button class="btn ">EDUKASI</button>
                  </div>
                  <div class="col-md-12  btn-custom-kategori">
                    <button class="btn ">HIBURAN</button>
                  </div>
                  <div class="col-md-12  btn-custom-kategori">
                    <button class="btn ">RELIGI</button>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>




        <div class="col-md-12" style="text-align: justify;">Dolor te aut tamen nescius, ut aliqua et sunt, aut anim consequat tractavissent te pariatur sempiternum ut litteris. Eram qui admodum id tamen, esse ubi cupidatat ita sunt an varias quibusdam do familiaritatem in ut legam proident pariatur, illum nostrud ea ipsum summis a occaecat a pariatur ea possumus quo multos, tamen ad possumus sed culpa. Veniam reprehenderit occaecat nulla arbitror, varias o senserit de aliqua.</div>
      </div>
    </div>
  </div>
<%= render 'static_pages/footer' %>
