<%= render'navbar' %>

  <!-- Image Background Page Header -->
  <!-- Note: The background image is set within the business-casual.css file. -->
  <header class="business-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="nama_rating">
            <h1 class="tagline -bottom">Nama Tempat</h1>
            <div class="ratingg">
              <span class="glyphicon glyphicon-star" style="color:yellow; font-size:30px"></span>
              <span class="glyphicon glyphicon-star" style="color:yellow; font-size:30px"></span>
              <span class="glyphicon glyphicon-star" style="color:yellow; font-size:30px"></span>

              <span class="glyphicon glyphicon-star" style="color:yellow; font-size:30px"></span>

              <span class="glyphicon glyphicon-star" style="color:yellow; font-size:30px"></span>
            </div>

          </div>

        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <hr>

    <div class="row">
      <div class="col-sm-8">
        <center>
          <div id="googleMap" style="width:500px;height:500px;"></div>
        </center>
        <hr>

        <address>
                    <p> Alamat</p>
                    <p>Harga Tiket</p>
                </address>
        <address>
                    <p title="Phone" class="glyphicon glyphicon-earphone"> : </p> (123) 456-7890
                    <br>
                    <p title="Email" class="glyphicon glyphicon-envelope"> : </p> <a href="mailto:#"> name@example.com</a>
                </address>

        <hr>
        <h2>Tempat Wisata Terdekat</h2>
        <br>
        <div class="row">
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>

        </div>


      </div>

      <div class="col-sm-4">
        <h2>Review</h2>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <img src="#">
          </div>
          <div class="col-sm-9">
            Anto
          </div>

        </div>
        <h4>Tempatnya bagus nih, jangan kesini ya !</h4>
        <hr>

        <div class="row">
          <div class="col-sm-3">
            <img src="#">
          </div>
          <div class="col-sm-9">
            Angga
          </div>

        </div>
        <h4>Maal coy</h4>
        <hr>

        <div class="row">
          <div class="col-sm-3">
            <img src="#">
          </div>
          <div class="col-sm-9">
            Irvan
          </div>

        </div>
        <h4>blom pernah kesini nih</h4>
        <hr>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->


  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <script src="http://maps.googleapis.com/maps/api/js"></script>

  <script>
    var myCenter = new google.maps.LatLng(-6.5976289, 106.7973757);

    function initialize() {
      var mapProp = {
        center: myCenter,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

      var marker = new google.maps.Marker({
        position: myCenter,
      });

      marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>

<%= render'footer' %>