<%= render'navbar' %>
  <!-- Navigation -->


  <!-- Image Background Page Header -->
  <!-- Note: The background image is set within the business-casual.css file. -->
  <header class="business-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="nama_rating">
            <h1 class="tagline -bottom">Nama Tempat</h1>
            <form id="ratingsForm">
              <div class="stars">
                <input type="radio" name="star" class="star-1" id="star-1" />
                <label class="star-1" for="star-1">1</label>
                <input type="radio" name="star" class="star-2" id="star-2" />
                <label class="star-2" for="star-2">2</label>
                <input type="radio" name="star" class="star-3" id="star-3" />
                <label class="star-3" for="star-3">3</label>
                <input type="radio" name="star" class="star-4" id="star-4" />
                <label class="star-4" for="star-4">4</label>
                <input type="radio" name="star" class="star-5" id="star-5" />
                <label class="star-5" for="star-5">5</label>
                <span></span>
              </div>

            </form>


          </div>

        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <hr>

    <div class="row">
      <div class="col-sm-8">
        <center>
          <div id="googleMap" style="width:500px;height:500px;"></div>
        </center>
        <hr>

        <address>
                    <p> Alamat</p>
                    <p>Harga Tiket</p>
                </address>
        <address>
                    <p title="Phone" class="glyphicon glyphicon-earphone"> : </p> (123) 456-7890
                    <br>
                    <p title="Email" class="glyphicon glyphicon-envelope"> : </p> <a href="mailto:#"> name@example.com</a>
                </address>

        <hr>
        <h2>Tempat Wisata Terdekat</h2>
        <br>
        <div class="row">
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>
          <div class="col-xs-3">
            <img src="http://placehold.it/50x50">
            <p>Nama tempat</p>
          </div>

        </div>


      </div>

      <div class="col-sm-4">
        <h2>Review</h2>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <img src="#">
          </div>
          <div class="col-sm-9">
            Anto
          </div>

        </div>
        <h4>Tempatnya bagus nih, jangan kesini ya !</h4>
        <hr>

        <div class="row">
          <div class="col-sm-3">
            <img src="#">
          </div>
          <div class="col-sm-9">
            Angga
          </div>

        </div>
        <h4>Maal coy</h4>
        <hr>

        <div class="row">
          <div class="col-sm-3">
            <img src="#">
          </div>
          <div class="col-sm-9">
            Irvan
          </div>

        </div>
        <h4>blom pernah kesini nih</h4>
        <hr>
        <form role="form" action="<?php echo base_url();?>/index.php/crud/do_edit_data" method="post">
          <textarea type="text" class="form-control" name="isi" rows="5" id="isi" placeholder="tanggapan anda"></textarea>
          <br>
          <button type="submit" class="btn btn-primary pull-right">Beri Tanggapan</button>
        </form>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->


  </div>
<%= render'footer' %>
  <!-- /.container -->



  <script src="http://maps.googleapis.com/maps/api/js"></script>

  <script>
    var myCenter = new google.maps.LatLng(-6.5976289, 106.7973757);

    function initialize() {
      var mapProp = {
        center: myCenter,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

      var marker = new google.maps.Marker({
        position: myCenter,
      });

      marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>


