.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}
footer {
  background-color: #000000;
  margin-top: 0px;
  padding-top: 80px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #EEE -moz-use-text-color -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
}
