.panel-v1 {
  .panel-heading {
    background-color: rgba(28, 245, 137, 0.69);
    .panel-title {
      font-weight: 800;
    }
  }
  .panel-body {
    .form-group {
      .link-login {
        float: left;
      }
    }
  }
}
